.home {
  .section-title {
    font-size: 50px;
    color: red;
    font-weight: 500;
  }

  img {
    border-radius: 75px;
    border: solid 5px;
  }

  .male {
    border-color: #0b5ed7;
     background-color: #0b5ed7;
  }

  .female {
    border-color: #eb2893;
    background-color: #eb2893;
  }
}